.list {
  margin: 0 1rem;

  & > header {
    color: $grey;
    line-height: 48px;
    font-size: 14px;
  }

  & ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  & li {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    & > * {
      display: flex;
      justify-items: center;
      flex-direction: column;
    }

    & small {
      color: $grey;
    }
  }
  &:not(:last-of-type) {
    border-bottom: 0.5px solid $grey;
  }
}

.list-imitate {
  margin: 0 1rem;
}