$grey: #B7B7B7;
$grey-dark: #737373;
$light: #fafafa;

//$shopping-primary-dark: #629C38;
$green: #91C46C;
//$shopping-primary-light: #DFFFC8;
// $shopping-secondary: #BD45C4;
//$shopping-secondary-light: #DB7CE0;

//$cost-management-primary-dark: #AB7743;
$brown: #D3A77B;
//$cost-management-primary-light: #FFE8D0;
//$cost-management-secondary: #51B4D3;
//$cost-management-secondary-light: #8DD9F0;